/.DS_Store
/Exp1_mvtec_eval.csv
/READ-LLaVA-v1.5-13B-for-ReasonSeg-testset
/READ-LLaVA-v1.5-7B-for-ReasonSeg-testset
/READ-LLaVA-v1.5-7B-for-ReasonSeg-valset
/READ-LLaVA-v1.5-7B-for-fprefcoco
/__pycache__
/assets
/clip-vit-large-patch14-336
/condaenv.rr7f6jj5.requirements.txt
/dataloaders
/dataset
/demo_directory
/images
/inference_results
/merge_lora_weights_and_save_hf_model.py
/mvtec_eval_0120.csv
/read_mvtec_eval.csv
/read_mvtec_eval_binary.csv
/read_mvtec_eval_binary_agg.csv
/read_mvtec_eval_default.csv
/read_mvtec_eval_default_agg.csv
/read_mvtec_outputs
/read_mvtec_outputs_binary
/read_mvtec_outputs_default
/src/pycocotools
/temp_archive
/test.py
/test_model_load.py
/test_read.py
/train_read.py
.git_backup_*
.venv/
__pycache__/
*.pyc
demo.py
visualize/
